@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

.mona-sans {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  padding: 0;
  margin: 0;
}
.top-nav {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail a {
  font-size: 1.1rem;
  text-decoration: none;
  list-style: none;
  color: black;
  
}
.navbar {
  font-size: 1.2rem;
  padding: 2rem 1rem;
  display: flex;
  gap: 2rem;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.contact-us {
  border: 0.1rem solid black;
  padding: 1rem 2.2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
  color: black;
}
.contact-us:hover {
  background-color: rgb(9, 9, 9);
  border: 0.1rem solid white;
  color: white;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .left {
  font-size: 4rem;
  font-weight: bold;
  padding: 4rem 3rem;
  width: 65vw;
  /* background: #29e20c; */
}
.hero .left p{
    font-size: 2rem;
    font-weight: 300;
}
.hero .right {
  width: 60vw;
  font-size: 2rem;
  /* background: #c41010; */
}
.hero .right img{
    width: 40vw;
}
